body {
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
}
.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #d3425c, #cc6ce6bb);
  padding: 10px;
  z-index: 1;
  box-sizing: border-box;
}
.menu-logo {
  line-height: 0;
  margin: 0 10px;
}
.menu-logo img {
  max-height: 80px;
  max-width: 100px;
}
.menu-container a {
  text-decoration: none;
}
.menu-container a:hover {
  color: rgb(87, 194, 213);
}
.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menu ul {
  list-style: none;
}
.menu li {
  padding: 10px 0;
  font-size: 23px;
}
/* mobile styles */
@media only screen and (max-width: 767px) {
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }
  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
}
/* desktop styles */
@media only screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
  }
  .menu-container a {
    color: #cdcdcd;
  }
  .menu-container input {
    display: none;
  }
  /* Burger menu */
  .menu-container span {
    display: none;
  }
  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .menu ul {
    display: flex;
    padding: 0;
  }
  .menu li {
    padding: 0 20px;
  }
  .logo-navbar {
    width: 100%;
  }
}
