$pink: #cb6ce6;
$red: #ff617d;
$black: #2c2c38;

.image {
  width: 100vw;
}

.textOverImage {
  position: absolute;
  padding: 10px;
  padding-top: 15vw;
  font-size: 5vh;
  color: white;
  font-family: "Arial";
}
